* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#search {
  padding: 10px;
  max-width: 250px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 10px;
}
.socials {
  display: flex;
  gap: 5px;

  font-weight: lighter;
  align-items: center;
}

.social-links {
  margin-top: 4px;
  display: flex;
  gap: 15px;
}
.social-links img {
  width: 24px;
  height: 24px;
}
main {
  margin-top: 45px;
}
h4 {
  margin-bottom: 50px;
  margin-left: 100px;
  font-weight: 300;
}
.story {
  gap: 30px;
  line-height: 1.4;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  @media screen and (max-width: 1300px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.left {
  line-height: 2.1;
  font-size: 20px;
  margin-left: 70px;
  margin-top: 30px;
}

hr {
  margin-top: 20px;
  color: black;
  width: 100%;
}
.main-para {
  margin-bottom: 40px;
  margin-left: -2%;
  margin-right: 5%;
}
.second-para {
  margin-bottom: 20px;
  margin-left: -2%;
  margin-right: 5%;
}
.our-story {
  margin-bottom: 20px;
  font-size: 30px;
}
.right {
  margin-left: 10px;
}
.right img {
  max-width: 600px;
  border-radius: 50px 20px 55px;
  width: 600px;
  height: 609px;
}

@media screen and (max-width: 760px) {
  .right img {
    width: 80%;
    max-height: 400px;
  }
}

.service {
  display: flex;

  justify-content: space-around;
  margin-top: 40px;
  padding: 20px 10px;
  flex-wrap: wrap;

  @media screen and (max-width: 760px) {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
}
.box h3 {
  font-weight: bold;
  font-size: 25px;
}
.box p {
  font-size: 16px;
}
.service .box img {
  border-radius: 10px 20px 50px;
}
.box {
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}
.box-2 {
  color: white;
  background-color: #00a9e3;
}
.top-sucess,
.our-team,
.service {
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
}
.team {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  padding: 20px 20px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1300px) {
  .individual .profile {
    height: auto;
    width: auto;
  }

  .team {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.key-aspect {
  display: flex;
  line-height: 2;
  justify-content: space-around;
  margin-top: 30px;
  padding: 20px 10px;
  flex-wrap: wrap;

  @media screen and (max-width: 760px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
}
.key-aspect div {
  margin: 10px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #004f7d;
  color: white;
  height: 50px;
  width: 100%;
  margin: 0;
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}
.heading-text {
  text-align: center;
}

@media query and (max-width: 1300) {
  .team {
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
  }
  .individual {
    max-width: 30%;
  }
}
@media (max-width: 550px) {
  .main-para,
  .second-para {
    font-size: medium;
    margin-left: -9%;
    margin-right: 5%;
  }
  .our-story {
    margin-top: -30px;
    margin-bottom: 20px;
    font-size: 20px;
  }
}
