.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.App > div:nth-child(2) {
  flex: 1; 
  margin-bottom: 20px; 
}

footer {
  background-color: #f8f9fa; 
  padding: 20px;
  text-align: center;
}