



* {
    margin: 0;
}

body {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Corrected to a valid weight */
    font-style: normal;
}

.sub-nav {
    font-size: 14px;
    color: #aaa;
    margin-top: 5%;
    margin-left: 100px;
    margin-bottom: 5px;
}

 .checkout {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    padding-right: 73rem; 
    padding-left: 8rem;
    margin-top: 3rem;
}
 .checkout > h2 {
    font-weight: 900; 
    margin-left: 0.4rem;
    margin-bottom: 0.9rem;
}
 .checkout >form .form-info {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
 .checkout >form .form-info > input {
    padding: 0.35rem;
    background-color: whitesmoke;
    border: none;
}
 .checkout >form .form-info > label {
    margin: 0.2rem;
    opacity: 0.5;
}
 .checkout >form .form-info > label > sup {
    color: red;
}
 .checkout >form .tick {
    margin-left: 0.5rem;
    margin-top: 0.35rem;
}

.checkout >form .tick > label {
    font-size: small;
    margin-left: 0.6rem;
}

input[type="checkbox"]:checked {
    background: #004f7d;
    color: white;
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border-radius: 3px;
    padding: 2px;

    background: lightgray;
    height: 16px;
    width: 16px;
    border: 1px solid white;
    color: white;
}

input[type="checkbox"]:after {
    content: ' ';
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(50deg);
    display: none;
}

input[type="checkbox"]:checked:after {
    display: block;
}

.selected-items > .items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 100rem; 
    
    position: relative;
    left: 50%;
    bottom: 32rem; 
}

.selected-items > .item > .img1 {
    width: 40px;
    height: 40px;
}

.selected-items > .item > .img2 {
    margin-left: 0.4rem;
}

.selected-items > .price > p {
    margin-left: 17rem; 
    position: relative;
    bottom: 2.4rem; 
    left: 11rem; 
}

.selected-items > .item > p {
    margin-left: 1.2rem; 
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    bottom: 32rem; 
    margin-left: 15rem; 
}

.total > table {
    border-collapse: separate;
   border-spacing: 11.4em 1.2em; 
   padding-top: 2;   
}

.total > .payment-method {
    display: flex;
    flex-direction: column;
    margin-right: 11rem; 
}

.total > .payment-method > input {
    margin-right: 6rem; 
}

.total > .payment-method > label {
    margin-left: 4rem; 
    position: relative;
    bottom: 1.0rem; 
}

.total > .payment-method > .logo {
    display: flex;
    flex-direction: row; 
}

.total > .payment-method > .logo > img {
   width: 20px; 
   margin-left: auto; 
   margin-bottom: auto; 
   position: relative; 
   bottom: 1.8rem; 
   left: 7rem; 
}

.total > .payment-method > .logo > .visa {
   width: 30px; 
}

.total > .payment-method > .logo > .paypal {
   width: 40px; 
   position: relative; 
   bottom: 2.5rem; 
}

.coupon {
   margin-top: 2rem; 
}

.coupon > .size {
   padding: 0.9rem; 
}

.coupon > .space {
   
   border-radius: 5px; 
}

.coupon > button {
   background-color: #004f7d; 
   color: white; 
   border-radius: 5px; 
   cursor: pointer; 
}

.coupon > button:hover {
   background-color: #00a9e3; 
   border: none; 
}

.order {
   margin-top: 1rem; 
}

.order > button { 
   background-color: #004f7d; 
   color: white; 
   padding: 0.9rem; 
   border-radius: 5px;
   border: none; 
   cursor: pointer; 
}

.order > button:hover {
   background-color: #00a9e3; 
   
}

/* Media Queries */
@media (max-width: 1690px) {
   .sub-nav {
       margin-left: 50px;
   }

   .checkout {
    justify-content: center;
       padding-right: 6rem; 
       padding-left: 9rem; 
   }

   .selected-items > .items {
       margin-right: 20rem; 
       bottom: auto; 
       left:auto; 
       justify-content:center; 
   }

   .total {
       margin-left: auto; 
       margin-right:auto; 
       bottom:auto; 
   }
   
   .total > table {
       border-spacing: 5em 1em; 
   }

   .coupon, .order {
       margin-right:auto; 
       margin-left:auto;  
       margin-top :10px ;
   }
}

@media (max-width: 768px) {
   .sub-nav {
       font-size: 12px;
       margin-left :20px ;
       margin-top :3%; 
   }


   .checkout {
    justify-content: center;
       padding-right: 6rem; 
       padding-left: 5rem; 
   }

   .selected-items > .items {
       justify-content:center ;
       left:auto ; 
       bottom:auto ; 
   }
   .selected-items > .item{
    margin-left: 7rem;
   }
    
        
   .total {
    justify-self: center;
     
       margin-top :2rem ; 
   }

   .total > table {
       border-spacing :2em ; 
   }

   .coupon, .order {
    display: flex;
       margin-right:auto ; 
       margin-left:auto ; 
       flex-direction :column ;  
       align-items:center ;
       justify-content: center;
   }
   
}

@media (max-width: 480px) {
   .sub-nav {
       font-size :10px ; 
       margin-left :10px ; 
       text-align:center ; 
   }

   .checkout {
       padding :1.5rem ; 
       padding-right :2rem ; 
       padding-left :1rem ; 
   }
   

   .selected-items > .items {
    display: flex;
       flex-direction :row ; 
       justify-content:center ; 
       align-items:center ; 
       margin: 0;
       bottom:auto ; 
   }

   .selected-items > .price > p,
   .total > .payment-method { 
      display:flex ;
      flex-direction :column ;
      align-items:center ;
      justify-content:center ;
      text-align:center ;
      margin-left :0 ; 
      position :relative ;
      bottom:auto ;
      left:auto ;
      font-size :12px ;  
      padding :0.5rem ;
      width :100% ;  
      }
      
   .total, .coupon, .order { 
      width :100% ;  
      flex-direction :column ;
      align-items:center ;
      justify-content:center ;
      text-align:center ;
      padding :1rem ;
      }
      .selected-items > .price{
        margin-left: 4rem;
      }
}

@media (max-width: 360px){
  .total > .payment-method > label{
    margin-left: rem;
  }
  .coupon > .size{
    margin: 1rem;
  }
  .order > button{
    padding: 0.4rem 2rem 0.4rem 2rem;

  }
  .selected-items > .price{
    margin-left: 4rem;
  }
  
}